body {
    background-color:#ffe4e1;
    text-align: center;
    font-family:sans-serif;
    padding: 30px;
    font-size: 15px;;
    color: #613C38;
    
}
a {
    color: #613C38;
    
}
a:hover {
    color:#E68F85;
}
h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 80px;
}
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}
h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: 500;
}
nav li {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    
}